data/*.csv
nanopore_trace_database.csv
features.csv
updated_nanopore_trace_database.csv
updated_features.csv
updated_features_volume.csv
amino_acid_properties.csv
feature_by_cluster.csv
nanopore_feature_by_cluster.csv
randomcontrol_feature_by_cluster.csv
classification_results_by_cluster.csv
amino_acid_clusters.csv
randomcontrol_trace_database.csv
nanopore_trace_database_BIG.csv
nanopore_training_BIG_feature_by_cluster.csv
data/nanopore_training_BIG_feature_by_cluster.csv
data/nanopore_feature_BIG_DATA_cluster.csv
peptidereads_fig2.mat
data/nanopore_training_BIG_feature_by_kmer_cluster.csv


__pycache__/
*.pyc

.venv/
.DS_Store
